/* @import url(./style.css); */

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
}

.footer__wrapper {
  position: relative;
  flex: 1 0 auto;
}

.footer__background {
  flex: 1 1 0;
  width: 100%;
  background-color: var(--primary-color-400);
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  
  padding: 40px;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.footer-top__img {
  height: 6rem;
}

.footer__title {
  font-size: 24px;
  color: var(--neutral-color-100);
  letter-spacing: 1px;
  font-weight: var(--fw-bold);
}

.footer__subtitle {
  color: var(--neutral-color-100);
}

.footer__quotations {
  margin: 10px 0;
  font-weight: var(--fw-bold);
  font-size: var(--fs-700);
  color: white;
}

.footer__emphasis {
  font-size: var(--fs-800);
  color: var(--accent-color-100);
}

.footer__emphasis {
  font-style: italic;
}

.footer__middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-primary);
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px 0px 1px 0px solid black; */
  border-top: 1px solid var(--neutral-color-100);
  border-bottom: 1px solid var(--neutral-color-100);
  gap: 1rem;
}

.footer__text {
  /* border-top: 1px solid black; */
  padding-top: 10px;
  color: var(--neutral-color-100);
}

.social-links {
  display: flex;
  font-size: var(--fs-700);
  gap: 25px;
}

.social-links__item:link {
  color: #ffffff;
  text-decoration: none;
}

.social-links__item:visited {
  color:#ffffff;
}

.footer__bottom-text {
  color: var(--neutral-color-100);
  padding-bottom: 10px;
}

.footer__bottom-content {
  margin-top: 2rem;
  color: var(--neutral-color-100);
  font-size: var(--fs-300);
  text-align: center;
  font-weight: var(--fw-semi-bold);
}
